.login-page{
    margin-top: 12.5%;
    text-align: center;
}

.queue-page{
    text-align: center;
}

.login-page-playlists{
    text-align: center;
}

.login-text{
    color: #1db954;
}

.room-id-text{
    color: #1db954;
    float: left;
    text-align: left;
    margin-left: 10%;
    width: 40%;
}

.login-button{
    margin-top: 16px;
    color: white; 
    background-color: #1db954;
    padding-bottom: 8px;
}

.end-session-button{
    color: white; 
    background-color: red;
    float: right;
}

.subtitle-div{
    width: 40%;
    float: left;
    margin-right: 10%;
}

.add-song-button{
    margin-top: 16px;
    color: white; 
    background-color: #1db954;
    padding-bottom: 8px;
    margin-left: 16px;
}

.login-subtitle-text{
    padding-top: 8px;
    color: #b3b3b3;
}

.playlist-name{
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
}

.song-data-row{
    width: 60%;
    margin-left: 20%;
    border-radius: 20px;
}

.song-name{
    color: #b3b3b3;
    font-size: large;
}

.queue-table-header{
    color: #b3b3b3;
}

.queue-table-row{
    color: #b3b3b3;
}

.table th,td,tbody,thead{
    text-align: left;
}

.autocomplete-results{
    text-align: left;
    padding-left: 22.5%;
    color: white;
}

input[type=text]{
    width: 50%;
    color: white;
    background-color: #212121;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #1db954;
}

input:focus{
    outline-width: 0px;
}

.not-pressed{
    color: #b3b3b3 !important;
}

.icon-thumbs-down{
    color: red;
}

.icon-thumbs-up{
    color: #1db954;
}