.loggedin{
    text-align: center;
}

.login-page{
    padding-top: 1%;
    text-align: center;
    background-color: #797a9eff;
    position: relative;
}

.child1{
    text-align: center;
}

.child2{
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.border-2 {
    border-width:2px !important;
}

.login-page-playlists{
    text-align: center;
}

.title-text{
    color: #272932;
    font-size: 48pt;
}

.title-line{
    width: 75%;
    height: 4px;
    background-color: #272932;
    margin: auto;
    margin-bottom: 8px;
}


.subtitle-text{
    padding-top: 8px;
    color: #272932;
    width: 50%;
    margin: auto;
}

.login-button{
    margin-top: 16px;
    color: #272932; 
    background-color: #797a9eff;
    padding-bottom: 8px;
}

.end-session-button{
    color: white; 
    background-color: red;
    float: right;
}

.subtitle-div{
    width: 40%;
    float: left;
    margin-right: 10%;
}

md-form{
    padding-bottom: 0px;
    margin-bottom: 0px !important;
}

.searchbar{
    width: 40%;
    margin: 0;
}

.add-song-button{
    color: #272932; 
    background-color: #797a9eff;
    width: 17.5%;
    height: 100%;
    margin-left: 16px;
}

.artist-genre-text{
    padding-top: 48px;
    color: #9e90a2;
}

.autocomplete-results{
    text-align: left;
    padding-left: 22.5%;
    color: #272932;
}

input[type=text]{
    width: 70%;
    color: #9e90a2;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #9e90a2;
}

.card{
    width: 65%;
    margin: auto;
    padding-top: 16px;
}

input:focus{
    outline-width: 0px;
}
