.loggedin{
    text-align: center;
}

.login-page{
    padding-top: 1%;
    text-align: center;
    background-color: #797a9eff;
    position: relative;
}


.contact-section{
    padding-top: 1%;
    text-align: center;
    background-color: #797a9eff;
    position: absolute;
    margin: auto;
    width: 100%;
}

.card-title{
    position: relative;
    top: 14px;
    padding-bottom: 16px;
}

.card-subtitle{
    padding-bottom: 8px;
}

.card-text{
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 4px;
    text-align: left;
}

.child1{
    text-align: center;
}

.child2{
    position: absolute;
    z-index: 2;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.border-2 {
    border-width:2px !important;
}

.login-page-playlists{
    text-align: center;
}

.title-text{
    color: #272932;
    font-size: 40pt;
}

.title-line{
    width: 65%;
    height: 4px;
    background-color: #272932;
    margin: auto;
    margin-bottom: 8px;
}


.subtitle-text{
    padding-top: 8px;
    color: #272932;
    width: 50%;
    margin: auto;
}

.disclaimer-text{
    padding-top: 24px;
    color: #272932;
}

.resource-text{
    color: #272932;
    padding-top: 8px;
}

.blue-text{
    color: #06b4db;
}

.login-button{
    margin-top: 16px;
    color: #272932; 
    background-color: #797a9eff;
    padding-bottom: 8px;
}

.end-session-button{
    color: white; 
    background-color: red;
    float: right;
}

.subtitle-div{
    width: 40%;
    float: left;
    margin-right: 10%;
}

md-form{
    padding-bottom: 0px;
    margin-bottom: 0px !important;
}

.searchbar{
    width: 40%;
    margin: 0;
}

.add-song-button{
    color: #272932; 
    background-color: #797a9eff;
    width: 17.5%;
    height: 100%;
    margin-left: 16px;
}

.artist-genre-text{
    padding-top: 48px;
    color: #9e90a2;
    padding-bottom: 48px;
    display: inline-block;
    margin-left: 256px;
    margin-right: 128px;
}

.toggle-button{
    display: inline-block;
    width: auto !important;
}

.genre-info-wrapper{
    text-align: center;
    margin: auto;
    padding-top: 32px;
}

.autocomplete-results{
    text-align: left;
    padding-left: 22.5%;
    color: #272932;
}

input[type=text]{
    width: 70%;
    color: #9e90a2;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #9e90a2;
}

.card{
    width: 60%;
    margin: auto;
    padding-top: 16px;
}

.info-wrapper-left{
    width: 40% !important;
    margin: auto;
    margin-right: 50%;
    padding-top: 32px;
    height: 80px;
}

.info-wrapper-right{
    width: 40% !important;
    margin: auto;
    margin-left: 50%;
    padding-top: 32px;
    height: 80px;
}

.card-date{
    color: #9e90a2;
    grid-row: 1;
    grid-column: 1;
}

.date-wrapper{
    width: 20% !important;
    position: relative;
    height: 56px;
    display: grid;
    top: -20px;
}

.genre-card{
    margin: 0;
    padding: 0;
    width: 50% !important;
}

.timeline-cap{
    position: absolute;
    margin: auto;
    z-index: 1;
    border-radius: 50%;
    background-color: #06b4db;
    left: 45%;
    width: 5vw;
    height: 5vw;
    transform: translateX(50%);
}

.timeline{
    position: absolute;
    margin: auto;
    z-index: 1;
    left: 49%;
    background-color: #06b4db;
    width: 1%;
    transform: translateX(50%);
}

.timeline-connector{
    position: relative;
    background-color: #06b4db;
    z-index: 1;
    height: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    grid-row: 2;
    grid-column: 1;
}

input:focus{
    outline-width: 0px;
}

.toggle.switch .toggle-group label {
    font-size: 20px;
}

.genre-circle{
    margin: auto;
    margin-top: 8px;
    z-index: 1;
    border-radius: 50%;
    background-color: #06b4db;
    width: 3vw;
    height: 3vw;
    top: 0;
}

.genre-circle-path{
    margin: auto;
    margin-top: 8px;
    z-index: 1;
    border-radius: 50%;
    background-color: #06b4db;
    width: 3vw;
    height: 3vw;
    border-style: solid;
    border-color: #7fcd91;   
}

.genre-circle-clicked{
    margin: auto;
    margin-top: 8px;
    z-index: 1;
    border-radius: 50%;
    background-color: #7fcd91;
    width: 3vw;
    height: 3vw;
}

.tree-card-wrapper{
    position: absolute;
    left: 70vw;
}

.tree-card{
    margin: 0;
    padding: 0;
    width: 25vw !important;
    background-color: #797a9eff !important;
    margin-bottom: 24px;
}

.tree-title-line{
    width: 24vw !important;
    height: 4px;
    background-color: #272932;
    margin: auto;
    margin-bottom: 8px;
}

.tree-card-link-title{
    margin-top: 0px;
    margin-bottom: 0px;
}

.tree-genre-text{
    font-size: 16px;
    color: #797a9eff;
    top: 3vw;
}

.tree-card-link{
    padding-bottom: 4px;
}

.tree-card-text{
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 4px;
    text-align: left;
}

.background{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
  